%p
  %b Firstname:
  = @profile.firstname
%p
  %b Lastname:
  = @profile.lastname
%p
  %b Website:
  = link_to @profile.website, @profile.website, :target => '_blank'

%p
  %b Twitter:
  = link_to "@#{@profile.twitter}", "http://twitter.com/#{@profile.twitter}", :target => '_blank' if @profile.twitter
%p
  %b Bio:
  = @profile.bio

- if can? :update, @profile
  = link_to 'Edit', edit_user_profile_path
  \|
= link_to 'Back', user_path
