%p
  %b Firstname:
  = @profile.firstname
%p
  %b Lastname:
  = @profile.lastname
%p
  %b Website:
  = @profile.website

%p
  %b Twitter:
  = @profile.twitter
%p
  %b Bio:
  = @profile.bio

- if can? :update, @profile
  = link_to 'Edit', edit_user_profile_path
  \|
= link_to 'Back', user_path
