%h1
  = @group.name

%ul#bookings
  - @group.bookings.each do |booking|
    %li.booking
      %span.course
        %strong= booking.course.label
      %span.suffix= booking.suffix
      %span.day= booking.timeslot.day.name
      %span.time= "#{booking.timeslot.start_label} - #{booking.timeslot.end_label}"
      - booking.teachers.each do |teacher|
        %span.teacher=teacher.label
      %span.room= booking.room.label



