%p
  %strong Name:
  = @user.username
%p
  %strong Email:
  = @user.email

%p
  %strong Id:
  = @user.id

#classmates
  %strong
    = pluralize(@user.accepted_classmates.count, "Classmate")
  %ul
    - @user.accepted_classmates.each do |mate|
      %li.classmate
        %span.name=mate.fullname
        %span.profile_link= link_to "Profile", user_alt_profile_url(mate)
        %span.schedule_link= link_to "Schedule", user_alt_schedule_url(mate)
      -#%li.classmate= link_to mate.profile.fullname, {controller: 'profiles', action: 'show', user_id: mate.id }


%ul
  %li= link_to "Add Classmate", new_relationship_url
  - if can? :manage, @user
    %li= link_to 'Edit', edit_user_path(@user)
